body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f1f9f6;
  color: #333;
}

header {
  background: #2a5d6b;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

}

.logo h1 {
  margin: 0;
  font-size: 22px;
  text-align: center;
}

.logo span {
  color: #f9a826;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
}

.mascotas-iconos img {
  width: 60px;
  margin: 0 5px;
}

nav {
  background-color: #4b9c8e;
  text-align: center;
  padding: 10px 0;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}

.info-box {
  background-color: #ffffff;
  border-left: 8px solid #f9a826;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  width: 70%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
   justify-content: space-around;
}

.info-box h2 {
  color: #2a5d6b;
}

.contenido {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenido img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin-left: 20px;
  border: 1px solid #ccc;
}

.info-box a {
  display: block;
  margin-top: 10px;
  color: #f9a826;
  text-decoration: none;
  font-weight: bold;
}

.formulario {
  align-self: center;
  background-color: #b7e4c7;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  width: 60%;
  max-width: 600px;
  margin-top: 20px;
}

.formulario h2 {
  margin-top: 0;
  color: #2a5d6b;
}

.formulario label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.formulario input {
  width: 100%;
  padding: 5px;
  margin-top: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formulario button {
  background-color: #f9a826;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.formulario button:hover {
  background-color: #e3941f;
}

footer {
  background-color: #2a5d6b;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  margin-top: 30px;
}

