body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f1f9f6; /* fondo suave verde pastel */
}

header {
  background: #2a5d6b; /* verde oscuro profesional */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

nav {
  background-color: #4b9c8e; /* verde medio */
  text-align: center;
  padding: 10px 0;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.logo h1 {
  margin: 0;
  font-size: 22px;
  text-align: center;
}

.logo span {
  color: #f9a826; /* naranja amigable */
  font-weight: bold;
  font-size: 26px;
  text-align: center;
}

.mascotas-iconos img {
  width: 60px;
  margin: 0 5px;
}

.productos-contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.tarjeta-producto {
  background-color: #ffffff;
  width: 250px;
  height: 230px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  padding: 15px;
  transition: transform 0.3s;
}

.tarjeta-producto:hover {
  transform: translateY(-5px);
}

.tarjeta-producto h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #2a5d6b; /* color de encabezado profesional */
}

.tarjeta-producto img {
  width: 220px;
  height: 130px;
  border-radius: 10px;
  object-fit: cover;
}

.centrado {
  margin-top: 20px;
}

footer {
  background-color: #2a5d6b;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}
.mascotas-iconos img {
  width: 60px;
  margin: 0 5px;
}